* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: green;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
}

#content {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: aqua;
}

.input-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 8px;
    padding: 8px;
    align-items: center;
}

.input-container > button {
    height: 50%;
    border-radius: 16px;
    padding: 8px;
}

.input-container > .inputs {
    display: grid;
    background-color: burlywood;
    padding: 8px;
}

.library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 8px;
    gap: 8px;
    background-color: lightblue;
}

.library > div {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    text-align: center;
}